{
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "noSpaceBetweenFunctionIdentifierAndParen": true,
  "noSpaceBetweenButtons": true,
  "noSpaceBetweenParens": true,
  "singleQuote": true
}
